@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background-color: #f0f0f0;
    overflow-x: hidden;
}
header{
    width: 100%;
    height: 8vh;
    padding: 0px 80px;
    background-color: white;
    box-shadow: 1px 1px 15px 1px rgba(231, 231, 231, 0.767);

}
.navBar{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navBar .logo h2{
    color: black;
    font-size: 24px;
    font-weight: 600;
    cursor: pointer;
}
.navBar .navLink{
    display: flex;
    align-items: center;
    width: 30%;
    justify-content: space-between;
}
.navBar .navLink li{
    list-style: none;
}
.navBar .navLink a{
    color: #161616;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    padding: 10px;
    transition: all .3s ease;
}
.navBar .navLink a:hover{
    background-color: lightgray;
    padding: 10px;
    border-radius: 8px;
}
.container{
    width: 100%;
    padding: 40px 80px;
}
.container .hero{
    width: 100%;
    height: 646px;
    background-color: #161616;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 100px;
    transition: all .6s ease-in-out;
    overflow: hidden;
    animation: bgAnimation 5s ease-in-out  infinite alternate;
}
@keyframes bgAnimation{
    0%{
        background-image: linear-gradient(rgb(0, 0, 0), rgb(0, 0, 0));
        transform: scale(1);
    }
    40%{
        background-image: linear-gradient(rgb(149, 188, 255), rgb(63, 62, 112));
        transform: scale(1.1);
    }
    60%{
        background-image: linear-gradient(rgb(78, 123, 150),rgb(181, 244, 255));
    }

    100%{
        background-image: linear-gradient(rgb(155, 76, 54), rgb(255, 171, 138));
    }
}
.container .hero:hover{
    transform: scale(1.1);
}
.container .hero .hero-text{
    width: 45%;
    overflow: hidden;
}
.container .hero .hero-text h1{
    font-size: 55px;
    color: white;
    font-weight: 700;
    margin-bottom: 20px;
}
.container .hero .hero-text p{
    color: #FFFFFF;
    font-size: 15px;
    line-height: 1.5;
    margin-bottom: 30px;
}
.container .hero .hero-text button{
    width: 150px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #DD0000;
    border: none;
    cursor: pointer;
    outline: none;
    color: rgb(228, 228, 228);
    font-size: 16px;
    font-weight: 600;
    border-radius: 5px;
    transition: all .4s ease-in-out;
}
.container .hero .hero-text button i{
    color: white;
    margin-left: 10px;
    font-size: 18px;
}
.container .hero .hero-text button:hover{
    background-color: rgb(202, 0, 0);
}
.container .hero .hero-img{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container .hero .hero-img img{
    width: 100%;
    height: 100%;

}
/* -----------blog section----------------- */
 main{
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    overflow: hidden;
    padding: 10px 0px;
}
.sidebar{
    width: 250px;
    height: 250px;
    background-color: black;
    margin-right: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.sidebar button{
    width: 160px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    border: none;
    outline: none;
    background-color: white;
    border-radius: 10px;
    cursor: pointer;
}
.sidebar button a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: black;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}
.sidebar #select{
    background-color: #DD0000;
    color: rgb(255, 255, 255);
}
.blog-section{
    width: 80%;
    align-items: center;
    justify-items: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
}
.blog-section .blog{
    height: 388px;
    background-color: white;
    border: 1px solid rgba(224, 224, 224, 0.651);
    border-radius: 10px;
}
.blog-section .blog .blog-img{
    width: 100%;
    height: 55%;
    overflow: hidden;
}
.blog-section .blog .blog-img img{
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
}
.blog-section .blog .blog-text{
     padding: 15px 20px;
}
.blog-section .blog .blog-text button{
    padding: 6px 20px;
    border: 1px solid black;
    cursor: pointer;
    color: black;
    background: transparent;
    border-radius: 5px;
    font-weight: 600;
    font-size: 13px;
    margin-bottom: 20px;
}
.blog-section .blog .blog-text p{
    color: #161616;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.4;
    margin-bottom: 20px;
}
.blog-section .blog .blog-text .icone{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
}
.blog-section .blog .blog-text .icone .icone-details{
    width: 20%;
    justify-content: space-between;
    display: flex;
    align-items: center;
    margin-right: 40px;
}
/* --------------tablet btn---------------- */
.Tablet-btn{
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 40px 0px;
    display: none;

}
.Tablet-btn button{
    width: 131px;
    height: 47px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    outline: none;
    background-color: #DD0000;
    font-size: 16px;
    color: white;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
}
/* ----------------footer--------------------- */
footer{
    margin-top: 60px;
    width: 100%;
    height:300px;
    display: flex;
    flex-direction: column;
    background-color: #161616;
    align-items: center;
    justify-content: center;
    padding: 0px 80px;
    text-align: center;

}
footer h1{
    color: white;
    font-size: 45px;
    font-weight: 700;
}
footer hr{
    border: 1px solid rgba(255, 255, 255, 0.1);
    width: 100%;
    margin: 50px 0px;
}
footer a{
    text-decoration: none;
    color:  #B9B9B9;
    font-size: 16px;
    margin: 10px;
    line-height: 50px;
    font-weight: 500;
}
.social-icone{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.social-icone i{
    color: white;
    margin: 15px;
    font-size: 30px;
}
/* ----------------------matches page-------------------------------- */
.match{
    padding: 30px;
    height: 242px;
    background-color: white;
    border: 1px solid rgba(224, 224, 224, 0.651);
    border-radius: 10px;
    overflow: hidden;
}
.match-img{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60%;
    overflow: hidden;
}
.match-text{
    text-align: center;
}
.match-text h3{
    color: black;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 5px;
}
.match-img h2{
    margin: 10px;
}
/* -----------------------group pages---------------------------- */
.group-text h1{
    margin-bottom: 10px;
}
.group-text p{
    font-size: 16px;
    line-height: 1.8;
}
.group{
    width: 250px;
}
/* ---------------responsive---------------------- */
/* ===================================================== */
/* -----tablet device--------- */
@media only screen and (min-width:688px) and (max-width:992px) {

    .container{
        padding: 40px 30px;
    }
    .container .hero{
        padding: 0px 60px;
        height: 398px;
        overflow-x: hidden;
    }
    .container .hero .hero-text {
        width: 60%;
    }
    .container .hero .hero-text h1{
        font-size: 40px;
        margin-bottom: 15px;
    }
    .container .hero .hero-text p{
        font-size: 14px;
        margin-bottom: 20px;
    }
    .container .hero .hero-text span{
        display: none;
    }
    main{
        flex-direction: column;
    }
    .sidebar{
        width: 100%;
        height: 100%;
        flex-direction: row;
        background:transparent;
        justify-content: space-between;
        margin-bottom: 30px;
    }
    .sidebar button{
        border: 1px solid #E8E8E8;
        width: 170px;
        height: 50px;
    }
    .blog-section{
        width: 100%;
        grid-template-columns: repeat(2, 1fr);
    }
    .Tablet-btn{
        display: flex;
    }
}
/* --------------------mobile device---------------- */
@media only screen and (max-width: 688px){
    .container{
        padding: 40px 20px;
    }
    .container .hero{
        flex-direction: column;
        padding: 0px 30px;
        height: 472px;
        text-align: center;
        overflow: visible;
    }
    .container .hero .hero-text{
        margin-top: 28px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .container .hero .hero-text h1{
        width: 228px;
        height: 66px;
        font-size: 24px;
        line-height: 33px;
        text-align: center;
        margin-bottom: 10px;
        font-weight: 600;
    }
    .container .hero .hero-text p{
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        margin-bottom: 16px;
    }
    .container .hero .hero-text span{
        display: none;
    }
    .container .hero .hero-img{
        width: 233px;
        height: 245px;
        margin-left: 40px;
    }
    main{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .sidebar{
        background:transparent;
        margin: 0;
        margin-bottom: 30px;
    }
    .sidebar button{
        border: 1px solid #E8E8E8;
        width: 210px;
        height: 48px;
    }
    .blog-section{
        grid-template-columns: repeat(1 , 1fr);
        width: 80%;
    }
    footer{
        width: 100%;
        height: 100%;
    }
    footer h1{
        font-size: 22px;
        line-height: 33px;
        margin-top: 24px;
    }
    footer hr{
        margin: 24px 0px;
    }
    footer a{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}